body {
  font-size: 14px;
  line-height: 25px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

h1 {
  font-size: 30px;
  line-height: 34px;
}

.container {
  background-color: #fff;
  border: none;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
  box-sizing: border-box;
  margin: 40px 0 0;
  padding: 20px 0 28px;
  width: 450px;
  max-width: 80%;
  align-content: center;
  /* width: 100%; */
  margin: 0 auto;
}

input,
select {
  height: 40px;
  padding: 10px;
  border: 1px solid #e3e3e3;
  width: 100%;
  background: #f1f1f1;
  margin-bottom: 10px;
  border-radius: 8px;
}
input:focus,
select:focus {
  outline: 0;
}

::placeholder {
  font-style: italic;
}

.form {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
  font-size: 16px;
}

.calender {
  text-align: left;
  font-size: 14px;
}

section {
  padding: 50px 0;
}

form {
  margin-top: 32px;
}

.error {
  color: red;
  text-align: left;
  font-size: 12px;
}

button {
  padding: 10px 20px;
  background: rgb(24, 50, 183);
  color: #fff;
  font-size: 14px;
  border: 0;
  border-radius: 6px;
  text-transform: uppercase;
  cursor: pointer;
}

.forgotPassword {
  margin-top: 10px;
  text-decoration: none;
}

.line {
  align-items: center;
  border-bottom: 1px solid #dadde1;
  display: flex;
  margin: 20px 16px;
  text-align: center;
}

.register {
  padding: 10px 20px;
  background: rgb(24, 50, 183);
  color: #fff;
  font-size: 14px;
  border-radius: 6px;
  text-transform: uppercase;
  display: inline-block;
  text-decoration: none;
  background-color: #2d6fd7;
}

select option:disabled {
  background-color: #ccc;
  font-size: 16px;
}

.input_wrap {
  position: relative;
}

.input_wrap i {
  position: absolute;
  right: 10px;
  line-height: 40px;
  font-size: 12px;
}

.error-page {
  height: calc(100vh - 63px);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.error-texts h1 {
  font-size: 150px;
  line-height: 160px;
  margin-bottom: 40px;
  /* font-weight: 700 !important; */
}

.error-texts h2 {
  font-size: 25px;
  color: rgb(11, 11, 11);
  font-weight: normal;
  margin-bottom: 15px;
}

.error-texts svg {
  font-size: 100px;
  color: rgb(255, 0, 0);
}
